@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

 {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	background: #000;
	font-family: 'Mochiy Pop One', sans-serif;
	padding: 0px;
	margin: 0px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 0px;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Mochiy Pop One', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP 01 */
/* ------------------------- */

.overlay01 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay01.active {
	visibility: visible;
}

.popup01 {
	background: #312D2D;
	border-radius: 2px;
	font-family: 'Mochiy Pop One', sans-serif;
	padding: 5px;
	text-align: center;
	width: 600px;
	height: auto;
	
	transition: 0.3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup01 .btn-cerrar-popup01 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup01 .btn-cerrar-popup01:hover {
	color: #000;
}

/* ------------------------- */
/* POPUP02 */
/* ------------------------- */
.overlay02 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay02.active {
	visibility: visible;
}

.popup02 {
	background: #312D2D;
	border-radius: 2px;
	font-family: 'Mochiy Pop One', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	height: auto;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup02 .btn-cerrar-popup02 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup02 .btn-cerrar-popup02:hover {
	color: #000;
}

/* ------------------------- */
/* POPUP3 EL UNIVERSO */
/* ------------------------- */
.overlay3 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay3.active {
	visibility: visible;
}

.popup3 {
	background: #312D2D;
	border-radius: 2px;
	font-family: 'Mochiy Pop One', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	height: auto;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup3 .btn-cerrar-popup3 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup3 .btn-cerrar-popup3:hover {
	color: #000;
}


/* ------------------------- */
/* POPUP4 EL UNIVERSO */
/* ------------------------- */
.overlay4 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay4.active {
	visibility: visible;
}

.popup4 {
	background: #312D2D;
	border-radius: 2px;
	font-family: 'Mochiy Pop One', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	height: auto;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup4 .btn-cerrar-popup4 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup4 .btn-cerrar-popup4:hover {
	color: #000;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup01.active {	transform: scale(1); opacity: 1; }
.popup02.active {	transform: scale(1); opacity: 1; }
.popup03.active {	transform: scale(1); opacity: 1; }
.popup04.active {	transform: scale(1); opacity: 1; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

